@use "../05-utils/mixins" as *;

.footer {
  &__wrapper {
    width: 100%;
    padding: 40px 0;
  }
  &__section {
    max-width: var(--breakpoint-md);
    margin: 0 auto;
    padding: 0 16px;
    @include use-flex(column, center, center);
    gap: 32px;
    text-align: center;
  }
  &__section-top {
    @include use-flex(column, center, center);
    gap: 16px;

    &--text,
    &--text-source {
      font-size: var(--type-sm);
      line-height: 1.8;
      transition: color var(--ts-ease-2);
    }
    &--text-source {
      .footer__link {
        @include use-flex(row, center, center);
        gap: 6;
      }
    }
  }

  &__section-bottom {
    &--socials {
      @include use-flex(row, center, center);
      gap: 20px;

      .footer__link {
        transition:
          transform var(--ts-spring-3),
          color var(--ts-ease-2);

        &:hover {
          transform: translateY(-3px);
        }
      }
    }
  }

  &__section-top--text,
  &__link {
    color: var(--font-clr-body-primary);
  }

  &__link {
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: color var(--ts-ease-2);

    &:hover {
      color: var(--footer-link-hover);
      filter: drop-shadow(0 0 15px var(--footer-link-hover));
    }
  }
}
