@font-face {
  font-family: "CabinetGrotesk";
  font-weight: 300, 900;
  src: url(/fonts/CabinetGrotesk/CabinetGrotesk-Variable.woff2) format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  font-weight: 300, 900;
  src: url(/fonts/Switzer/Switzer-Variable.woff2) format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SwitzerItalic";
  font-weight: 300, 900;
  src: url(/fonts/Switzer/Switzer-VariableItalic.woff2) format("woff2");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Damion";
  font-weight: normal;
  src: url(/fonts/Damion/Damion-Regular.ttf) format("ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains_Mono";
  font-weight: 300, 600;
  src: url(/fonts/JetBrains_Mono/JetBrains_Mono-VariableFont_wght.ttf)
    format("ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains_Mono-Italic";
  font-weight: 300, 600;
  src: url(/fonts/JetBrains_Mono/JetBrains_Mono-Italic-VariableFont_wght.ttf)
    format("ttf");
  font-style: italic;
  font-display: swap;
}
