@use "./colors" as *;

html {
  color-scheme: dark light;
}

/*
==========================================
sass
==========================================
*/

$font-heading: "CabinetGrotesk", sans-serif;
$font-body: "Switzer", sans-serif;
$font-logo: "Damion", script;
$font-Mono: "JetBrains_Mono", monospace;
$font-line-height-h: 1.35;
$font-line-height-b: 1.5;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1290px;

/*
==========================================
root variables
==========================================
*/
:root {
  /*
  ==========================================
  fonts + font colors
  ==========================================
  */
  --ff-heading: #{$font-heading};
  --ff-body: #{$font-body};
  --ff-logo: #{$font-logo};
  --ff-mono: #{$font-Mono};
  //font-setting
  --font-heading-line-height: #{$font-line-height-h};
  --font-body-line-height: #{$font-line-height-b};
  //font-colors
  --font-clr-heading-primary: var(--clr-neutral-light-500);
  --font-clr-heading-secondary: var(--clr-neutral-dark-500);
  --font-clr-body-primary: var(--clr-neutral-light-400);
  --font-clr-body-primary-300: var(--clr-neutral-light-300);
  --font-clr-body-secondary: var(--clr-neutral-dark-400);
  --font-clr-dark: var(--clr-neutral-dark-500);
  --font-clr-body-light: color-mix(
    in srgb,
    var(--clr-neutral-light-400),
    white 50%
  );

  --clr-text-muted: color-mix(in srgb, var(--clr-neutral-dark-400), white 35%);
  --clr-text-muted-light: color-mix(
    in srgb,
    var(--clr-neutral-dark-400),
    white 45%
  );
  /*
  ==========================================
  breakpoints
  ==========================================
  */
  --breakpoint-sm: #{$breakpoint-sm};
  --breakpoint-md: #{$breakpoint-md};
  --breakpoint-lg: #{$breakpoint-lg};
  --breakpoint-xl: #{$breakpoint-xl};

  /*
  ==========================================
  colors
  ==========================================
  */

  --clr-bg: var(--clr-neutral-dark-500);
  --clr-tag-bg: var(--clr-neutral-dark-500);
  --clr-tag-bg-dark: var(--clr-neutral-dark-500);
  --clr-tag-text-light: var(--clr-neutral-light-500);
  --card-bg: color-mix(in srgb, var(--clr-neutral-dark-500), white 1.5%);
  --card-bg-dark: color-mix(in srgb, var(--clr-neutral-dark-500), black 1.5%);
  --clr-icon: var(--clr-neutral-light-500);
  --nav-menu-bg: color-mix(in srgb, var(--clr-neutral-dark-500), white 1%);
  --nav-bg-scroll: color-mix(in srgb, var(--nav-menu-bg), transparent 5%);
  --clr-theme-toggle-hover: color-mix(in srgb, var(--clr-secondary-500));
  --nav-border: var(--clr-neutral-dark-400);
  --nav-link: var(--clr-neutral-light-500);
  --nav-link-hover: var(--clr-primary-200);
  --footer-link: var(--clr-neutral-light-400);
  --footer-link-hover: var(--clr-primary-200);
  --clr-accent: var(--clr-accent-500);
  --clr-filter-action: var(--clr-primary-200);
  --clr-filter-text: var(--clr-neutral-dark-500);
  --clr-filter-soft: color-mix(
    in srgb,
    var(--clr-filter-action),
    transparent 95%
  );
  --clr-slash: color-mix(in srgb, var(--clr-neutral-light-400), black 20%);
  --clr-image-bg-placeholder: var(--clr-neutral-dark-400);
  --clr-border: var(--clr-neutral-dark-300);
  --clr-border-primary: color-mix(
    in srgb,
    var(--clr-neutral-light-300),
    black 70%
  );
  --clr-slug-details-bg: color-mix(in srgb, var(--clr-primary-500), black 15%);
  --clr-code-filename-bg: color-mix(
    in srgb,
    var(--clr-neutral-dark-500),
    black 15%
  );
  /*
  ==========================================
  shadow
  ==========================================
  */
  --box-shadow-inset: inset 3px 3px 7px #202020, inset -3px -3px 7px #161616;
  //useful tool from https://www.joshwcomeau.com/shadow-palette/
  --shadow-color: 220deg 20% 2%;
  --shadow-strength: 0.8;

  --shadow-elevation-low:
    0px 0.1px 0.1px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) * 0.45)),
    0px 0.2px 0.2px -1.2px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) * 0.45)),
    0px 0.5px 0.6px -2.5px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) * 0.45));

  --shadow-elevation-medium:
    0px 0.1px 0.1px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) * 0.35)),
    0px 0.4px 0.5px -0.8px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) * 0.35)),
    0px 1.1px 1.2px -1.7px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) * 0.35)),
    0px 2.7px 3px -2.5px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) * 0.35));

  --shadow-elevation-high:
    0px 0.1px 0.1px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) * 0.2)),
    0px 0.9px 1px -0.4px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) * 0.18)),
    0px 1.8px 2px -0.8px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) * 0.16)),
    0px 3.1px 3.5px -1.2px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) * 0.14)),
    0px 5.3px 6px -1.7px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) * 0.12)),
    0.1px 8.6px 9.7px -2.1px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) * 0.1)),
    0.1px 13.6px 15.3px -2.5px
      hsl(var(--shadow-color) / calc(var(--shadow-strength) * 0.08));

  /*
  ==========================================
  speed for ui interactions
  ==========================================
  */

  --ts-ease-1: 0.1s ease;
  --ts-ease-2: 0.2s ease;
  --ts-ease-in-2: 0.2s ease-in;
  --ts-linear-2: 0.2s linear;

  --ts-ease-3: 0.3s ease;
  --ts-ease-out-3: 0.3s ease-out;
  --ts-ease-in-3: 0.3s ease-in;
  --ts-linear-3: 0.3s linear;

  --ts-ease-4: 0.4s ease;
  --ts-ease-in-out-4: 0.4s ease-in-out;
  --ts-ease-5: 0.5s ease;
  --ts-ease-in-out-5: 0.5s ease-in-out;

  --ts-spring-3: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ts-snappy-3: 0.3s cubic-bezier(0.2, 1, 0.3, 1);
  --ts-snappy-4: 0.4s cubic-bezier(0.2, 1, 0.3, 1);
  --ts-snappy-5: 0.5s cubic-bezier(0.2, 1, 0.3, 1);

  --ts-emphasize-4: 0.4s cubic-bezier(0.5, 0, 0, 1);

  --ts-soft-4: 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  // resetting states
  --ts-instant: 0s linear;

  /* entrance/exit specific  */
  --ts-enter-3: 0.3s ease-out;
  --ts-exit-2: 0.2s ease-in;

  /*
  ==========================================
  various
  ==========================================
  */
  --border-radius-xs: 0.25rem;
  --border-radius-sm: 0.5rem;
  --border-radius-md: 1rem;
  --border-radius-lg: 2rem;
}

/*
  ==========================================
  light theme
  ==========================================
  */

[data-theme="light"] {
  color-scheme: light;

  /*
  ==========================================
  colors
  ==========================================
  */
  --font-clr-heading-primary: var(--clr-neutral-dark-500);
  --font-clr-heading-secondary: var(--clr-neutral-dark-500);
  --font-clr-body-primary: var(--clr-neutral-dark-400);
  --font-clr-body-primary-300: var(--clr-neutral-dark-300);
  --font-clr-body-secondary: var(--clr-neutral-light-400);
  --font-clr-body-light: var(--clr-neutral-light-500);
  --clr-bg: var(--clr-neutral-light-500);
  --clr-tag-bg: var(--clr-neutral-light-500);
  --nav-menu-bg: color-mix(in srgb, var(--clr-neutral-light-400), white 45%);
  --nav-bg-scroll: color-mix(in srgb, var(--nav-menu-bg), transparent 10%);
  --nav-link: var(--clr-neutral-dark-500);
  --nav-link-hover: var(--clr-primary-400);
  --footer-link: var(--clr-neutral-dark-500);
  --footer-link-hover: var(--clr-primary-400);
  --clr-icon: var(--clr-neutral-dark-500);
  --clr-filter-action: var(--clr-primary-500);
  --clr-filter-text: var(--clr-neutral-light-500);
  --clr-text-muted: color-mix(in srgb, var(--clr-neutral-light-400), black 35%);
  --clr-slash: color-mix(in srgb, var(--clr-neutral-dark-400), white 25%);
  --clr-image-bg-placeholder: var(--clr-neutral-light-400);
  --clr-code-filename-bg: color-mix(
    in srgb,
    var(--clr-neutral-light-500),
    black 15%
  );
  --clr-border-primary: color-mix(
    in srgb,
    var(--clr-neutral-dark-300),
    white 55%
  );
  --card-bg: color-mix(in srgb, var(--clr-neutral-light-500), black 3.5%);
  /*
  ==========================================
  shadows
  ==========================================
  */
  --shadow-color: 0deg 0% 0%;
  --shadow-strength: 0.2;
  --box-shadow-inset: inset 3px 3px 7px #eeeeee, inset -3px -3px 7px #cecece;
}
