@use "../05-utils/mixins" as *;

.projects__list {
  --card-min-width: 20rem;
  --card-max-width: 25rem;
  --gap: 2rem;

  display: grid;
  gap: var(--gap);
  list-style: none;
  margin: 3rem auto;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, var(--card-min-width)), 1fr)
  );

  // max-width: 1200px;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: var(--card-max-width);
  margin-inline: auto;
  background-color: var(--card-bg);
  transition:
    transform var(--ts-snappy-3),
    box-shadow var(--ts-snappy-3),
    background-color var(--ts-ease-2);
  position: relative;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: var(--border-radius-sm);
  background-color: var(--card-bg);

  &__inner {
    display: flex;
    flex-direction: column;

    & > .card__image-wrapper {
      order: 1;
    }
    > .card__content {
      order: 2;
    }
  }
  &__image-wrapper {
    order: 0;
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: var(--border-radius-sm);
    background-color: var(--clr-image-bg-placeholder);

    &__img {
      object-fit: cover;
      object-position: center;
      border-radius: 2px;
    }
  }

  &__content {
    &--heading {
      margin: 16px 0 4px;
      @include use-flex(row, flex-start, center);
      .card__link {
        text-decoration: none;
        color: var(--font-clr-heading-primary);
      }
    }
    &--tag-list {
      & > *:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  &:hover::after {
    filter: blur(1px);
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: -45deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 350deg;
  }
}

.card::before,
.card::after {
  --grad1: var(--clr-neutral-dark-500);
  --grad2: var(--clr-neutral-light-500);

  content: "";
  position: absolute;
  inset: -0.1rem;
  z-index: -1;
  border-radius: 0.5rem;

  background: linear-gradient(
    var(--gradient-angle),
    var(--grad2) 0%,
    var(--grad1) 27%,
    var(--grad1) 72%,
    var(--grad2) 100%
  );
  opacity: 0.1;
  transition:
    opacity var(--ts-ease-3),
    box-shadow var(--ts-snappy-4);
}

.card:hover::before,
.card:hover::after {
  opacity: 1;
  box-shadow: var(--shadow-elevation-low);
  animation: rotation 6s linear infinite;
}

.card__view-more::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  inset: 0;
  z-index: 10;
}
