@use "../05-utils/mixins" as *;

.projects__list {
  --gap: 2rem;
  display: grid;
  gap: var(--gap);
  margin: 3rem auto;
  justify-content: center;
  max-width: var(--breakpoint-xl);

  grid-template-columns: 1fr;
  @include min-width(medium) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  /*
==========================================
setting
==========================================
*/
  position: relative;
  background-color: var(--card-bg);
  border-radius: var(--border-radius-md);
  transition:
    transform var(--ts-snappy-3),
    box-shadow var(--ts-snappy-3),
    background-color var(--ts-ease-2);
  width: 100%;
  max-width: none;
  margin-inline: auto;
  cursor: pointer;
  padding: 0.75rem;

  display: flex;
  flex-direction: column;

  &:hover {
    .card__arrow {
      transform: rotate(0deg);
    }

    .card__arrow-circle {
      background-color: var(--clr-primary-global);
      color: var(--clr-neutral-dark-500);
    }

    .card__view-text {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &::after {
    filter: blur(1px);
  }

  &:last-child:nth-child(odd) {
    @include min-width(medium) {
      grid-column: 1 / span 2;
      justify-self: center;
      width: calc(50% - (var(--gap) / 2));
    }
  }

  /*
==========================================
image
==========================================
*/
  &__image-wrapper {
    z-index: 1;
    position: relative;
    flex-grow: 1;
    min-height: 250px;
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: var(--border-radius-sm);
    overflow: hidden;
    background-color: var(--clr-image-bg-placeholder);

    &__img {
      object-fit: cover;
      object-position: center;
      border-radius: var(--border-radius-sm);
    }
  }

  /*
==========================================
inner
==========================================
*/
  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: static;

    & > .card__image-wrapper {
      order: 1;
    }
    > .card__header {
      order: 2;
    }
    > .card__meta-row {
      order: 3;
    }
  }

  &__header {
    z-index: 2;

    &--title {
      margin: 16px 0 4px;
      @include use-flex(row, flex-start, center);
    }

    &--tag-list {
      & > *:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  /*
==========================================
footer
==========================================
*/
  &__meta-row {
    @include use-flex(row, space-between, center);
    width: 100%;
  }

  &__footer {
    position: static;
    margin-top: auto;
    align-self: flex-end;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 5;
    pointer-events: auto;
  }

  &__view-more {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 10;
      cursor: pointer;
    }
  }

  &__view-text {
    font-family: var(--ff-mono);
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--font-clr-heading-primary);
    opacity: 0;
    transform: translateX(10px);
    transition: all var(--ts-spring-3);
  }

  &__arrow-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: color-mix(
      in srgb,
      var(--clr-neutral-light-500),
      transparent 90%
    );
    border: 1px solid var(--clr-border-primary);
    color: var(--clr-icon);
    transition: all var(--ts-spring-3);
  }

  &__arrow {
    transform: rotate(-45deg);
    transition: transform var(--ts-spring-3);
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: -45deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 350deg;
  }
}

.card::before,
.card::after {
  --grad1: var(--clr-neutral-dark-500);
  --grad2: var(--clr-neutral-light-500);

  content: "";
  position: absolute;
  inset: -0.1rem;
  z-index: -1;
  border-radius: 0.5rem;
  border-radius: var(--border-radius-md);
  background: linear-gradient(
    var(--gradient-angle),
    var(--grad2) 0%,
    var(--grad1) 27%,
    var(--grad1) 72%,
    var(--grad2) 100%
  );
  opacity: 0.1;
  transition:
    opacity var(--ts-ease-3),
    box-shadow var(--ts-snappy-4);
}

.card:hover::before,
.card:hover::after {
  opacity: 1;
  box-shadow: var(--shadow-elevation-low);
  animation: rotation 6s linear infinite;
}
