.page-link {
  text-decoration: none;
  color: var(--font-clr-body-primary);
  font-weight: 500;
  transition: color var(--ts-ease-2);
  display: inline-flex;
  align-items: center;
  gap: 8px;

  &:hover {
    color: var(--nav-link-hover);

    svg {
      transform: translateX(4px);
      transition: transform var(--ts-spring-3);
    }
  }
}
