.tag {
  &__wrapper {
    display: inline-block;
    background-color: var(--clr-tag-bg-dark);
    font-size: var(--type-sm);
    padding: 2.5px 8px;
    border-radius: var(--border-radius-xs);
  }
  &__text {
    text-transform: capitalize;
    font-weight: 500;
    color: var(--clr-tag-text-light);
    margin: 0;
  }
}
