@use "../01-base/variables" as *;

@mixin min-width($breakpoint) {
  @if ($breakpoint == small) {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if ($breakpoint == medium) {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if ($breakpoint == large) {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if ($breakpoint == xlarge) {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  } @else {
    @error "UNKNOWN MEDIA BREAKPOINT #{$breakpoint}";
  }
}

@mixin max-width($breakpoint) {
  @if ($breakpoint == mx-small) {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if ($breakpoint == mx-medium) {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if ($breakpoint == mx-large) {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  }
}

@mixin use-flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin button-reset {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}
